//Tipografía
$font-family: 'Times New Roman', Times, serif;

//Clases de estilo para responsive
@media (max-width : 600px){

    .bodyHeader{
        width: 100% !important;
        
    }

    .bodyChild{
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .sec2 ul{
        text-align: center !important;
    }

    .isMobile{
        text-align: center !important;
        margin-top: 50px !important;
    }
    .txt{
        text-align: center !important;
    }

    .cards{
        display: inline-block !important;
        text-align: center !important;
    }   

    .card{
        margin-bottom: 10px !important;

    }
    .isMobileForm{
        margin-left: 15px !important;
        margin-right: 15px !important;
    }
    .btnMobileForm{
        margin-bottom: 70px !important;
    }

    .sec3 ul li{
        margin-bottom: 20px;
        text-align: center !important;
    }
    .copyR{
        text-align: center !important;
    }
    .mobileFotter{
        text-align: center !important;
        margin-bottom: 20px;
    }
    .divFooterInput{
        margin-left: 25% !important;
    }

    .rowMobile{
        width: 100% !important;
    }
    .rowMobileFooter{
        width: 100% !important;
        text-align: center !important;
    }

}
  
//Estilo para el logo
.logo{
    border-radius: 25px;
    height: 50px;
}

// Cuerpo de cabecera
.bodyHeader {
    background-image: url('../assets/images/fondo-sec.jpeg'); 
    width: 100%;
    text-align: justify !important;
    float: right;
    vertical-align: top !important;
    
}

// Cuerpo de cabecera
.bodyHeaderGrid {
    background-image: url('../assets/images/fondo-gris.jpeg '); 
    width: 100%;
    height: 30vh;
    text-align: justify !important;
    float: right;
    vertical-align: top !important;
    
}


//cuerpo del header
.bodyChild{
   
    left: 300px;
    right: 200px;
    margin-left: 250px;
    margin-right: 250px;
}

//Seccion 2 del header - Navegación
.sec2 ul{
    list-style: none;
    margin: 18px;
}
.sec2 ul li{
    display: inline-block;
    width: 90px;
    text-align: center;
    font-weight: bolder;
    color: white;
    font-size: 12px;
    cursor: pointer;

}

.content{
    text-align: center;
    margin-top: 70px;
   
}

//Titulos
.title{
    font-weight: bold;
    font-family: $font-family;
}

//Separador
.line{
    width: 65px !important;
    border: solid 1px;
    color: #05dfcf;
    margin-top: 20px;
    margin-bottom: 37px;
}
// parrafo
.txt{
    margin-bottom: 37px;
    font-family: $font-family;
}
.txtFooter{
    color: white; 
    text-align: left;
    margin-top: 15px;
}

.paragraph{
    margin: 0;
    font-family: $font-family;
    font-size: 13px;
    color: #7d7b8a;
}

//Botón 'leer más' 
.morebtn{
    background: #00ffff00;
    border-radius: 2px;
    border-color:  #05dfcf;
    color:  #05dfcf;
    font-weight: bold;
    margin-bottom: 135px;
}

.iconScroll{
    margin-right: 7px;
    cursor: pointer;
    border-radius: 50%;
    color: #c1c1dc;
}

.cards{
    margin-top: 30px;
    margin-bottom: 30px;
}

.cardChild{
    border: 2px solid;
    background: #ffffff00;
    width: 13rem;
    border-color: #e7e4ea;
    margin-right: 30px;
    text-align: center;
}

.link{
    font-size: 13px;
    color: #6f6d7f;
}

.inputFooter{
    border: 1px solid;
    background: #565e6500;
    border-color: #f1f1f1a1;
    color: white
}

.btnFooter{
    background: #00ffff00;
    border-color:  #05dfcf;
    color:  #05dfcf;
}

.iconFooter{
        margin-right: 12px;
        cursor: pointer;
        color: #c1c1dc;
        font-size: 31px;
}

//Footer links navegacion

.sec3 ul{
    list-style: none;
    margin: 0px;
}
.sec3 ul li{
    display: inline-block;
    width: 90px;
    text-align: start;
    font-weight: bolder;
    color: white;
    font-size: 12px;
    cursor: pointer;

}
.spanNav:hover{
    color: #05dfcf
}

.copyR{
    text-align: right; 
    color: white;
    font-size: 13px;
}

.divFooterInput{
    display: flex; 
    margin-bottom: 20px;
}